<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-user-times fa-5x"></i>
                    </div>
                    <div class="col col-xs-10 text-left" style="padding: 10px;">
                        <div class="d-block">SOLICITUD DE RENUNCIA DE LA AUTORIZACIÓN DE SERVICIO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <a [routerLink]="['/modificacion-tuc']">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-id-card-o fa-5x"></i>
                        </div>
                        <div class="col col-xs-10 text-left" style="padding: 10px;">
                            <div class="d-block">SOLICITUD DE OBTENCIÓN DE LA TUC POR MODIFICACIÓN EN SU CONTENIDO</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-plus-square fa-5x"></i>
                    </div>
                    <div class="col col-xs-10 text-left" style="padding: 10px;">
                        <div class="d-block">INSCRIPCION VEHICULAR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-lg-4">
        <a [routerLink]="['/renovacion-tuc']">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-files-o fa-5x"></i>
                        </div>
                        <div class="col col-xs-10 text-left" style="padding: 10px;">
                            <div class="d-block">SOLICITUD DE OBTENCIÓN O RENOVACIÓN DE LA TARJETA ÚNICA DE CIRCULACIÓN (TUC)</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a [routerLink]="['/duplicado-tuc']">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-files-o fa-5x"></i>
                        </div>
                        <div class="col col-xs-10 text-left" style="padding: 10px;">
                            <div class="d-block">SOLICITUD DE DUPLICADO DE LA TUC POR PÉRDIDA, DETERIORO O APROPIACIÓN ILÍCITA</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-list fa-5x"></i>
                    </div>
                    <div class="col col-xs-10 text-left" style="padding: 10px;">
                        <div class="d-block">EMISIÓN DE PADRÓN VEHÍCULAR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <!-- <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-newspaper-o fa-5x"></i>
                    </div>
                    <div class="col col-xs-10 text-left" style="padding: 10px;">
                        <div class="d-block">SOLICITUD DE RETIRO VEHICULAR</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-lg-4">
        <a [routerLink]="['/autorizacion']">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-clipboard fa-5x"></i>
                        </div>
                        <div class="col col-xs-10 text-left" style="padding: 10px;">
                            <div class="d-block">SOLICITUD DE AUTORIZACIÓN</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a [routerLink]="['/autorizacion']">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-clipboard fa-5x"></i>
                        </div>
                        <div class="col col-xs-10 text-left" style="padding: 10px;">
                            <div class="d-block">SOLICITUD DE RENOVACIÓN DE AUTORIZACIÓN</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>