<div class="card">
    <div class="card-header">
        RECIBO
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>N°</label>
                    <div class="input-group ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text "><i class="fa fa-info"></i></span>
                        </div>
                        <input name="NumRecibo" type="text" class="form-control" maxlength="12" />
                    </div>
                </div>
                <div class="form-group">
                    <label>MONTO</label>
                    <input type="text" class="form-control" readonly="" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>FECHA</label>
                    <div class="input-group ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text "><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control" maxlength="12" />
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <button type="button" class="btn btn-primary m-4">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>PROCEDIMIENTO ADMINISTRATIVO	</label>
                    <input name="DerechoPagoRecibo" type="text" class="form-control" readonly="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>CÓDIGO DE PAGO </label>
                    <input id="DerechoCajaRecibo" name="DerechoCajaRecibo" type="text" class="form-control" readonly="" />
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header">
        RECURRENTE
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label class=" col-sm-2 control-label">TIPO DOCUMENTO:</label>
                <div class="col-sm-2">
                    <select class="form-control" data-placeholder="Seleccione"></select>
                </div>
                <label class="col-sm-2 control-label">NUMERO DOCUMENTO:</label>
                <div class="col-sm-2">
                    <input type="text" maxlength="11" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary">Buscar</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">NOMBRES   </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control">
                </div>
                <label class="col-sm-2 control-label">APELLIDO PATERNO   </label>
                <div class="col-sm-2">
                    <input type="text" maxlength="4" class="form-control">
                </div>
                <label class="col-sm-2 control-label">APELLIDO MATERNO</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">FECHA NACIMIENTO</label>
                <div class="col-sm-2">
                    <input type="text" maxlength="10" class="form-control">
                </div>
                <label class="col-sm-2 control-label">SEXO</label>
                <div class="col-sm-2">
                    <select class="form-control" data-placeholder="Seleccione"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">CELULAR </label>
                <div class="col-sm-2">
                    <input type="tel" maxlength="9" class="form-control">
                </div>
                <label class="col-sm-2 control-label">TELEF. FIJO    </label>
                <div class="col-sm-2">
                    <input type="tel" maxlength="7" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">CORREO  </label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" maxlength="30">
                </div>
                <label class="col-sm-2 control-label">DIRECCION  </label>
                <div class="col-sm-6">
                    <input type="text" name="Direccion" class="form-control" maxlength="100">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">DEPARTAMENTO   </label>
                <div class="col-sm-2">
                    <select class="form-control" data-placeholder="Seleccione"></select>
                </div>
                <label class="col-sm-2 control-label">PROVINCIA   </label>
                <div class="col-sm-2">
                    <select class="form-control" data-placeholder="Seleccione"></select>
                </div>
                <label class="col-sm-2 control-label">DISTRITO </label>
                <div class="col-sm-2">
                    <select class="form-control" data-placeholder="Seleccione"></select>
                </div>
            </div>
        </form>
    </div>
</div>
<p></p>
<button type="submit" class="btn btn-primary">Continuar</button>