<div class="card">
    <div class="card-body">
        <table id="tbl_req" class="table table-bordered">
            <thead>
                <tr>
                    <th style="color:#676a6c;">N°</th>
                    <th style="color:#676a6c;">Detalle</th>
                    <th style="color:#676a6c;">Entidad</th>
                    <th style="color:#676a6c;">Número</th>
                    <th style="color:#676a6c;">F.Emisión</th>
                    <th style="color:#676a6c;">F.Vigencia</th>
                    <th style="color:#676a6c;">Adjunto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>1</span></td>
                    <td><span>SOAT</span></td>
                    <td>
                        <select class="form-control select2"></select>
                    </td>
                    <td>
                        <input type="text" class="form-control" maxlength="25" />
                    </td>
                    <td>
                        <div class="input-group ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" maxlength="10" class="form-control" data-mask="99/99/9999" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" maxlength="10" class="form-control" data-mask="99/99/9999" />
                        </div>
                    </td>
                    <td>
                        <button type="button">Seleccionar archivo</button>
                        <span>No se eligió archivo</span>
                        <button class="btn btn-danger btn-circle" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                    </td>
                </tr>
                <tr>
                    <td><span>2</span></td>
                    <td><span>CITV</span></td>
                    <td>
                        <select class="form-control select2"></select>
                    </td>
                    <td>
                        <input type="text" class="form-control" maxlength="25" />
                    </td>
                    <td>
                        <div class="input-group ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" maxlength="10" class="form-control" data-mask="99/99/9999" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" maxlength="10" class="form-control" data-mask="99/99/9999" />
                        </div>
                    </td>
                    <td>
                        <button type="button">Seleccionar archivo</button>
                        <span>No se eligió archivo</span>
                        <button class="btn btn-danger btn-circle" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Continuar</button>
    </div>
</div>